<header id="site-header">
    <h1>Icecream-Shop</h1>
    <div class="links">
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/create']">Create</a>
      <a [routerLink]="['/list']">List</a>
    </div>
    <div *ngIf="!loading && user">
      <a [routerLink]="['/profile']">{{user.username}}</a>
      <a (click)="logout()">logout</a>
    </div>
    <div *ngIf="!loading && anon">
      <a [routerLink]="['/login']">login</a>
    </div>
  </header>
  
  <main id="site-main">
    <router-outlet>
      <div *ngIf="loading">
        <span class="username text"><img src="https://cdn.dribbble.com/users/392575/screenshots/1214217/shot_icecreamtruck_01.gif" ></span>
      </div>
    </router-outlet>
  </main>
  
  <footer id="site-footer">
    <p>The icecream corporation ® 2018</p>
  </footer>
